/* CSS de estilo                      */
/* Juan Blanco Martín                 */
/* Práctica Final - Tecnologías Web   */


.remove-all-margin-padding{
    margin:0 ! important;
    padding:0 ! important;
}

body {
    overflow: hidden; /* oculta las scrollbars */
    font-family: "Arial";
}

.col-img-inicio {
    background-image: url("../src/imgInicio1.png");
    background-size: cover;
    height: 100vh;
    
    
}

.col-login {
    background-color: rgb(21, 32, 43);
    color: aliceblue;
    height: 100vh;   
 
}

.formulario {
   padding-top: 25%;
   width: 100%;
   
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(59, 148, 86);
}

input[type=submit] {
    background-color:  rgb(59, 148, 86);
    border: none;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    text-decoration: none;
    cursor: pointer;

}


h3 {
    color: rgb(59, 148, 86);
    font-size: 33px;
    
}


.info {
    padding-top: 50px;
    
}

.container-fluid {
    padding: 0;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
  
.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}




/* Conversión de tamaño para asegurar un diseño responsive */
@media(max-width: 991px){
    .col-img-inicio {
        height: 0vh;
    }
    
    .col-login {
        height: 100vh;
    }
}
